@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto+Slab:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  background-color: #f3f4f6;
  padding: 4rem;
  min-width: 90vw;
  height: auto;
  font-family: "Roboto", sans-serif;
}
.main {
  width: 100%;
  display: flex;
  height: auto;
  gap: 4rem;
}
.switchcover {
  width: 100%;
  flex: 1 1 6%;
  height: 28rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2rem 1.5rem;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  /* color: #6544c1 */
}

.information {
  border: 2px solid red;
  flex: 1 1 35%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.display {
  border: 2px solid red;
  flex: 1 1 55%;
}
.mini-bar {
  padding: 2rem;
  border-radius: 20px;
  cursor: pointer;
}
.mini-bar h2 {
  font-size: 3rem;
  line-height: 1.3;
  margin-top: 0.8rem;
  font-weight: 500;

  /* #6544c1 */
}
.switch {
  background-color: #f3f4f6;
}
.update-resume {
  background-color: #fff;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 20px;
}
.update-resume-child {
  width: 50%;
  text-align: center;
  padding: 2rem;
  cursor: pointer;
}
.update-resume-child h2 {
  font-size: 2.7rem;
  font-weight: 500;
}
.update-resume-child:nth-child(1) h2 {
  color: red;
}
.update-resume-child:nth-child(2) {
  background-color: #f3f4f6;
  border-radius: 20px;
}
.personal-details {
  border: 2px solid blue;
  background-color: #fff;
  padding: 5rem 4rem;
  border-radius: 20px;
}
h1 {
  font-size: 4.5rem;
  font-weight: 600;
  /* margin-bottom: 3rem; */
}
h3 {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}
.personal-details h3:first-of-type {
  margin-top: 3.5rem;
}
.recommend {
  font-size: 2.3rem;
  color: #848588;
  font-weight: 500;
}
input {
  width: 100%;
  height: 6rem;
  border-radius: 20px;
  background-color: #f3f4f6;
  font-size: 2.5rem;
  padding-left: 2rem;
  box-sizing: border-box;
  border: none;
}
input:focus {
  outline: none;
  border: 3px solid #6544c1;
  box-shadow: 0px 0px 10px 0px #6544c1;
  transition: 0.5s;
}
.education {
  background-color: #fff;
  padding: 3rem 3rem;
}
.education-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid red;
  margin-top: 1.5rem;
  margin-bottom: 4.5rem;
  cursor: pointer;
  padding: 1.5rem;
}

.date {
  display: flex;
  gap: 2rem;
}
.start-date {
  width: 55%;
}
.end-date {
  width: 45%;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
button {
  width: 190px;
  height: 70px;
  text-align: center;
  background-color: #fff;
  color: #848588;
  font-size: 3rem;
  font-weight: 600;
  border-radius: 15px;
  cursor: pointer;
}
.cancel {
  width: 170px;
  margin-right: 1.5rem;
}
.save {
  width: 150px;
  background-color: #6544c1;
  color: #fff;
}
.experience {
  background-color: #fff;
  padding: 3rem;
}
textarea {
  width: 100%;
  height: 10rem;
  padding: 2rem;
  font-size: 2.5rem;
}
textarea::placeholder {
  font-size: 2rem;
}
